<a href="https://colab.research.google.com/github/Praneeth7890/python-new/blob/module-02/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Calling a Function
def x():
  print("praneeth chowdary")
  
x()

praneeth chowdary

In [ ]:
#Arguments
def x(fname):
  print(fname+"gitam")
  
x("praneeth ")
x("yaswanth ")
x("sai krishna ")

praneeth gitam
yaswanth gitam
sai krishna gitam

In [ ]:
#This function expects 2 arguments, and gets 2 arguments
def x(fname,lname):
  print(fname+" "+lname)
  
x("praneeth","chowdary")

praneeth chowdary

In [ ]:
#add a *,If the number of arguments is unknown
def x(*students):
  print("the topper in the class is "+students[2])
  
x("rahul","praneeth","saikrishna")

the topper in the class is saikrishna

In [ ]:
#way the order of the arguments does not matter
def x(stu1,stu2,stu3):
  print("Waste fellow in the class is "+stu2)
  
x(stu1="praneeth",stu2="sai krishna",stu3="seshu")

Waste fellow in the class is sai krishna

In [ ]:
#Arbitrary Keyword Arguments, **kwargs
def x(**student):
  print("the topper in the class is " +  student["lname"])
x(fname= "praneeth",lname= "sai krishna")

the topper in the class is sai krishna

In [ ]:
#Default Parameter Value
def x(state="Andhra pradesh"):
  print("I am from "+state)
  
x("telangana")
x("kerala")
x()
x("tamilnadu")

I am from telangana
I am from kerala
I am from Andhra pradesh
I am from tamilnadu

In [ ]:
#Passing a List as an Argument
def x(drinks):
  for x in drinks:
    print(x)

drinks=("magic moments","mansionhouse","absoulte")
x(drinks)

magic moments
mansionhouse
absoulte

In [ ]:
#Return Values
def x(x):
  return 6*x
  
print(x(4))
print(x(7))
print(x(4))
print(x(8))
print(x(2))

24
42
24
48
12

In [ ]:
#The pass Statement
def x():
  pass

In [ ]:
age=20

if age>=18:
  status="Eligible"
else:
  status="not eligible"
print("you are ",status,"for vote.")

you are  Eligible for vote.

In [ ]:
age=int(input("enter the age"))
if age>=18:
  status="Eligible"
else:
  status="not eligible"
print("you are ",status,"for vote.")

enter the age18
you are  Eligible for vote.

In [ ]:
#Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21