<a href="https://colab.research.google.com/github/Praneeth7890/python-new/blob/module-02/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def nCr(n, r):
 
    return (fact(n) / (fact(r)
                * fact(n - r)))
 
def fact(n):
 
    res = 1
     
    for i in range(2, n+1):
        res = res * i
         
    return res
n = 5
r = 3
print(int(nCr(n, r)))

10

2.x Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
x=["red","green","white","black","pink","yellow"]
x.pop(0)
x.pop(3)
x.pop(3)
print(x)

['green', 'white', 'black']

3.Program to get the difference between the two lists

In [ ]:
x=["rrr","radheshyam","beast","kgf"]
y=["bahubali","sahoo","akhanda","beast"]
difxandy=list(set(x)-set(y))
print(difxandy)

['radheshyam', 'kgf', 'rrr']

4.Program to find the second smallest number and second largest number in a list

In [ ]:
def find_len(x):
    length = len(x)
    x.sort()
    print(x)
    print("Second Smallest element is:", x[1])
    print("Second Largest element is:", x[-2])
x=[9,84,15,95,76,25,36,83,72,366]
Largest = find_len(x)

[9, 15, 25, 36, 72, 76, 83, 84, 95, 366]
Second Smallest element is: 15
Second Largest element is: 95

5.Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number

In [ ]:
x = [6,8,9,12,15,19]
y = [(num, pow(num, 2)) for num in x]
print(y)

[(6, 36), (8, 64), (9, 81), (12, 144), (15, 225), (19, 361)]

6.Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.

In [ ]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
K = 2
print("x : " + str(test_list))
res = [ele for ele in test_list if len(ele) != K]
print("output : " + str(res))

SyntaxError: ignored

7. Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

8. Program to remove a key from a dictionary

In [ ]:
a={'apple':100,'banana':150,'grapes':200}
print(a)
if 'apple' in a:
  del a['apple']
print(a)

{'apple': 100, 'banana': 150, 'grapes': 200}
{'banana': 150, 'grapes': 200}

9.Program to get the maximum and minimum value in a dictionary

In [ ]:
dictionary = {"apple": 100, "banana": 150, "grapes": 200,"cherry": 250}
min_key = min(dictionary, key=dictionary.get)
max_key = max(dictionary, key=dictionary.get)

print(dictionary.get(min_key))
print(dictionary.get(max_key))

100
250

10. Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations