<a href="https://colab.research.google.com/github/Praneeth7890/python-new/blob/module-01/python_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# average of two numbers

In [ ]:
a=29
b=58
c=38
average = (a+b+c)/3
print(average)

41.666666666666664

# multiplication of three numbers

In [ ]:
a=15
b=46
c=37
mul=a*b*c
print(mul)

25530

# dynamic addition of 2 numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
addition=(a+b)
print(addition)
print(type(addition))

enter a number47
enter a number32
79
<class 'int'>

# dynamic of 3 numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
multi=(a*b*c)
print(multi)
print(type(multi))

enter a number20
enter a number37
enter a number28
20720
<class 'int'>

# type conversions


## 1.int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'int'>
<class 'float'>
10.0

## 2.float to int

In [ ]:
a=10
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'int'>
<class 'int'>
10

## 3.int to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'int'>
<class 'str'>
10

## 4.float to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'int'>
<class 'str'>
10

## 5.string to int

In [ ]:
a=10
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'int'>
<class 'int'>
10

# Boolean

In [ ]:
a=34
b=45
c=a<b
print(bool(c))

True

## Boolean to int

In [ ]:
a=10
print(type(a))
b=bool(a)
print(type(b))
print(b)

<class 'int'>
<class 'bool'>
True

# boolean to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))

<class 'int'>
<class 'str'>

# complex

In [ ]:
a=5+2j
print(type(a))
c=str(a)
print (type(c))

<class 'complex'>
<class 'str'>