<a href="https://colab.research.google.com/github/Praneeth7890/python-new/blob/module-02/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x={"praneeth","yaswanth","rahul"}
print(x)

{'rahul', 'yaswanth', 'praneeth'}

In [ ]:
#duplicates not allowed
x={"praneeth","manish","bhanu","praneeth"}
print(x)

{'manish', 'bhanu', 'praneeth'}

In [ ]:
#len of set
x=("praneeth","manish","bhanu","yaswanth","rahul")
print(len(x))

5

In [ ]:
#data types
x={"praneeth"}
y={"yaswanth"}
z={"manish","manish"}
print(x)
print(y)
print(z)

{'praneeth'}
{'yaswanth'}
{'manish'}

In [ ]:
x={"praneeth","sai krishna","yaswanth"}
for x in x:
  print(x)

sai krishna
yaswanth
praneeth

In [ ]:
#praneeth is in set
x={"praneeth","sai krishna","yaswanth"}
print("praneeth" in x)

True

In [ ]:
#adding an item
x={"praneeth","sai krishna","yaswanth"}
x.add("seshu")
print(x)

{'seshu', 'sai krishna', 'yaswanth', 'praneeth'}

In [ ]:
#adding a set to another set
x={"praneeth","sai krishna","yaswanth"}
y={"manish","rahul","bhanu"}
x.update(y)
print(x)

{'bhanu', 'sai krishna', 'yaswanth', 'rahul', 'manish', 'praneeth'}

In [ ]:
#Add Any Iterable
x={"praneeth","sai krishna","yaswanth"}
y=["manish","rahul"]
x.update(y)
print(x)

{'sai krishna', 'yaswanth', 'manish', 'rahul', 'praneeth'}

In [ ]:
#Remove Item
x={"praneeth","sai krishna","yaswanth"}
x.remove("yaswanth")
print(x)

{'sai krishna', 'praneeth'}

In [ ]:
#remove using pop()
x={"praneeth","sai krishna","yaswanth"}
y=x.pop()
print(y)
print(x)

sai krishna
{'yaswanth', 'praneeth'}

In [ ]:
#clear the set
x={"praneeth","sai krishna","yaswanth"}
x.clear()
print(x)

set()

In [ ]:
#loop items
x={"praneeth","sai krishna","yaswanth"}
for x in x:
  print(x)

sai krishna
yaswanth
praneeth

In [ ]:
#join two sets
x={"praneeth","sai krishna","yaswanth"}
y={"manish","rahul"}
z=x.union(y)
print(z)

{'sai krishna', 'yaswanth', 'rahul', 'manish', 'praneeth'}

In [ ]:
#intersection_update()
x={"praneeth","sai krishna","yaswanth"}
y={"rahu","praneeth","yaswanth"}
x.intersection_update(y)
print(x)

{'yaswanth', 'praneeth'}

In [ ]:
#intersection() method
x={"praneeth","sai krishna","yaswanth"}
y={"rahu","praneeth","yaswanth"}
z=x.intersection(y)
print(z)

{'yaswanth', 'praneeth'}

In [ ]:
#symmetric_difference_update
x={"praneeth","sai krishna","yaswanth"}
y={"rahul","praneeth","yaswanth"}
x.symmetric_difference_update(y)
print(x)

{'rahul', 'sai krishna'}

In [ ]:
#symmetric_difference() method 
x={"praneeth","sai krishna","yaswanth"}
y={"rahul","praneeth","yaswanth"}
z=x.symmetric_difference(y)
print(z)

{'sai krishna', 'rahul'}